*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  user-select: none;
}
